











// box shadow
$box-shadow-default: 0px 5px 10px -4px rgba(0,0,0,0.75);
$box-shadow-cards: 0px 17px 32px -9px rgba(0,0,0,0.75);


// font-sizes 
$font-size-ps: 1.2rem;
$font-size-pm: 1.6rem;
$font-size-pl: 2.0rem;
$font-size-ts: 2.4rem;
$font-size-tm: 2.8rem;
$font-size-tl: 3.2rem;