.navbar-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
    h2 {
        font-size: 4.0rem;
        font-weight: 600;
		font-family: 'Fasthand', cursive;
        color: white;
    }
}

nav a {
	color: white;
	text-decoration: none;
    font-size: 1.8rem;
}

nav a:hover {
	color: $text-color;
}

.navbar-cont .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: $font-size-ts;
}

.navbar-cont div, nav {
	display: flex;
	align-items: center;
    gap: 20px;
}

@media only screen and (max-width: 1024px) {
	.navbar-cont .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.navbar-cont nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: $text-color;
		transition: 1s;
		transform: translateY(-100vh);
	}

	.navbar-cont .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

}

@media (min-width: 1024px) {
    .right-btn {
        display: none;
    }
    nav .nav-close-btn {
		display: none;
	}
}